$colorBlack: #0A0A0A;
$colorYellow: #FEE757;
$colorWhite: #FFFFFF;
$colorGreen: #20D608;
$colorOrange: #FECF07;
$colorGray: #F2F2F2;
$colorGrayf: #909090;
$colorGrayFAQ: #F0F0F0;
$colorGrayFAQborder: #333333;
$colorGrayg: #4D4D4D;
$colorstep2: #F5F5F5;
$colorstep3: #DDDDDD;
$colorstep4: #D0D0D0;
$colorBlue: #2A84AC;

$space:(138/1280)*100%;

.fadeIn {
    opacity: 0;
    transition: 2s;
  }
.fadeIn.is-show {
opacity: 1;
}
