.main-visual {
  background-color: $colorGray;
  padding-bottom: 2.5rem;
  @media screen and(min-width: 767px) {
    padding-bottom: 0;
  }
  $this: &;
  .container {
    width: 100%;
    @media screen and(min-width: 767px) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      position: relative;
    }
    #{$this}__img {
      background-image: url("../img/my-portfolio-top1.png");
      background-repeat: no-repeat;
      height: 100vw;
      background-size: cover;
      @media screen and(min-width: 767px) {
        background-image: url("../img/my-portfolio-top@2x.png");
        width: (1030/1280)*100vw;
        margin-left: auto;
        height: 700px;
      }
    }
    #{$this}__txt {
      margin-top: -11.4rem;
      display: flex;
      flex-direction: column;
      @media screen and(min-width: 767px) {
        width: (360/1280)*100vw;
        margin-top: 13.3rem;
        margin-left: 7.7rem;
        position: absolute;
        top: 0;
        left: 1rem;
      }
      span:nth-child(1) {
        width: (155/375)*100vw;
        margin-bottom: 2rem;
        @media screen and(min-width: 767px) {
          font-size: 8rem;
          width: (280/1280)*100vw;
        }
        .span-inner1 {
          background-color: white;
          @include Mon($colorBlack,4.5rem,700);
          @media screen and(min-width: 767px) {
            font-size: 8rem;
          }
        }
      }
      span:nth-child(2) {
        font-size: 5rem;
        width: (174/375)*100vw;
        @include Mon($colorBlack,4rem,700);
        margin-bottom: 2rem;

        @media screen and(min-width: 767px) {
          font-size: 8rem;
          width: (310/1280)*100vw;
        }
        .span-inner2 {
          background-color: white;
          @include Mon($colorBlack,4.5rem,700);
          @media screen and(min-width: 767px) {
            font-size: 8rem;
          }
        }
      }
      span:nth-child(3) {
        color: $colorBlack;
        font-size: 5rem;
        width: (300/375)*100vw;
        @include Mon($colorBlack,4rem,700);

        @media screen and(min-width: 767px) {
          font-size: 8rem;
          width: (800/1280)*100vw;
        }
        .span-inner3 {
          background-color: white;
          @include Mon($colorBlack,4.5rem,700);
          @media screen and(min-width: 767px) {
            font-size: 8rem;
          }
        }
      }
    }
  }
  .top-link {
    position: relative;
    cursor: pointer;
    .top-btn {
      text-align: center;
      height: 100px;
      width: 100px;
      line-height: 100px;
      border-radius: 50%;
      background-color: $colorBlack;
      position: fixed;
      bottom: 30px;
      right: 20px;
      display: block;
      z-index: 100;
      @media screen and(min-width: 767px) {
        right: 50px;
      }
      &__arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-image: url("../svg/top-arrow.svg");
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
      }
    }
  }
}