@mixin Mon($fcolor: #fff,$fontSize: 16px, $fontWeight: 700) {
    color: $fcolor;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-family: 'Montserrat', sans-serif;
  }