.works-list {
  background-color: $colorGray;
  padding-top: 100px;
  .section-ttl {
    text-align: center;
    margin-bottom: 3.8rem;
    h2 {
        @include Mon($colorBlack,4rem,1000); 
        @media screen and(min-width: 767px) {
          font-size: 6rem;
        }
    }
    p {
        @media screen and(min-width: 767px) {
          font-size: 2.4rem;
        }
    }
  }

  .container {
    
    padding: 0 30px;
    @media screen and(min-width: 767px) {
      display: flex;
      width: (1126/1280)*100%;
      margin: 0 auto;
      flex-direction: column;
      padding: 0;
    }
    .works-group {
      li {
        margin-bottom: 20px;
        p {
          font-size: 2.4rem;
          margin-bottom: 10px;
          @media screen and(min-width: 767px) {
            font-size: 3rem;
          }
        }
        span {
          color: $colorGrayf;
          @media screen and(min-width: 767px) {
            font-size: 2rem;
          }
        }
      }
      li:nth-child(4) {
        span {
          display: block;
          color: $colorGrayf;
          a {
            color: $colorGrayf;
            text-decoration: underline;
            word-break: break-word;
          }
        }
      }
      li:last-child {
        span {
          display: block;
          color: $colorGrayf;
          a {
            color: $colorGrayf;
            text-decoration: underline;
            word-break: break-word;
          }
        }
      }
    }
  }

  .portfolio-img {
    @media screen and(min-width: 767px) {
      display: flex;
      width: calc((1126/1280)*100%);
      margin: 0 auto;
      justify-content: space-around;
      align-items: center;
    }
    .img-left {
      @media screen and(min-width: 767px) {
        width: (525/1126)*100%;
      }
      img {
        width: 100%;
      }
    }
    .img-right {
      @media screen and(min-width: 767px) {
        width: (525/1126)*100%;
      }
      img {
        width: 100%;
      }
    }
  }

  .top-link {
    position: relative;
    span {
      text-align: center;
      height: 100px;
      width: 100px;
      line-height: 100px;
      border-radius: 50%;
      background-color: $colorBlack;
      position: fixed;
      bottom: 10px;
      right: 30px;
      display: block;
      @media screen and(min-width: 767px) {
        right: 50px;
      }
      a {
        font-size: 1.5rem;
        color: $colorWhite;
      }
    }
  }
}