.works {
    padding: 10rem 0 9.5rem 0;
    @media screen and(min-width: 767px) {
        padding: 9.5rem 0 23.1rem 0;
    }
    .section-ttl {
        text-align: center;
        margin-bottom: 3.8rem;
        h2 {
            @include Mon($colorBlack,4rem,1000); 
            @media screen and(min-width: 767px) {
                font-size: 6rem;
            }
        }
        p {
            @media screen and(min-width: 767px) {
                font-size: 2.4rem;
            }
        }
    }
    .container {
        padding: 0 20px;
        @media screen and(min-width: 767px) {
            display: flex;
            width: calc((1126/1280)*100%);
            margin: 0 auto;
            flex-wrap: wrap;
            padding: 0;
        }
        &-works {
            margin-bottom: 8rem;
            &__img {
                margin-bottom: 20px;
                .works-link {
                    display: block;
                    position: relative;
                    img {
                        vertical-align: bottom;
                        overflow: hidden;
                    }
                    img:hover {
                        background-color: rgba(0, 0, 0 ,.5);
                        transform: scale(1.05); //画像の拡大比率（１０５％）
                    }
                }
                .works-link::before {
                    content: ""; 
                    position: absolute; 
                    display: inline-block; 
                    width: 100%;
                    height: 100%;
                    // background-color: $colorBlack;
                    // opacity: 0.2;
                    transition: all 0.6s ease;
                }
                .works-link:hover::before {
                    position: absolute; 
                    display: inline-block; 
                    width: 100%;
                    height: 100%;
                    background-color: $colorBlack;
                    opacity: .75;
                    transition: all 0.6s ease;
                }

                .works-link::after {
                    content: "制作物をみる"; 
                    position: absolute; 
                    display: inline-block; 
                    top: 50%; 
                    left: 50%;
                    transform: translate(-50%,-50%);
                    opacity: 0;
                }
                .works-link:hover::after {
                    content: "制作物をみる";
                    font-size: 2rem;
                    position: absolute; 
                    display: inline-block; 
                    color: $colorWhite;
                    top: 50%; 
                    left: 50%;
                    transform: translate(-50%,-50%);
                    opacity: 1.0;
                }
            }

            @media screen and(min-width: 767px) {
                width: calc((333/1126)*100%);
                margin: 0 auto;
                margin-bottom: 8rem;
            }
            &__txt {
                p:nth-child(1){
                    margin-bottom: 10px;
                    position: relative;
                    color: $colorGrayf;
                    font-size: 1rem;
                }
                p:nth-child(1)::after{
                    content: '';
                    width: 20px;
                    position: absolute;
                    height: 1px;
                    top: 17px;
                    left: 0;
                    background-color: $colorGrayg;
                }
                p:nth-child(2){
                    margin-bottom: 10px;
                    font-weight: bold;
                }
                p:nth-child(3){
                    margin-bottom: 10px;
                    color: $colorGrayf;
                    font-size: 1.2rem;
                }
                p:nth-child(4){
                    margin-bottom: 10px;
                    font-size: 0.8rem;
                    a {
                        word-wrap:break-word;
                        color: $colorGrayf;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}