.works-list {
  .section-ttl {
    text-align: center;
    margin-bottom: 3.8rem;
    h2 {
        @include Mon($colorBlack,4rem,1000); 
        @media screen and(min-width: 767px) {
          font-size: 6rem;
        }
    }
    p {
        @media screen and(min-width: 767px) {
          font-size: 2.4rem;
        }
    }
  }


  .container {
    @media screen and(min-width: 767px) {
      display: flex;
      width: calc((1126/1280)*100%);
      margin: 0 auto;
      justify-content: space-around;
      align-items: center;
    }
  }

  .portfolio-img {
    @media screen and(min-width: 767px) {
      display: flex;
      width: calc((1126/1280)*100%);
      margin: 0 auto;
      justify-content: space-around;
      align-items: center;
    }
  }
}