@charset "UTF-8";
.fadeIn {
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

.fadeIn.is-show {
  opacity: 1;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  margin: 0;
  padding: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  color: #333;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

a:hover {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 0;
}

.header {
  background-color: #F2F2F2;
}

.header-box {
  padding: 0 20px;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 767px) {
  .header-box {
    height: 10rem;
    padding: 0 77px;
  }
}

.header-box__logo h1 .logo {
  color: #0A0A0A;
  font-size: 2rem;
  font-weight: 1000;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
}

.header-box__nav {
  display: none;
}

@media screen and (min-width: 1100px) {
  .header-box__nav {
    margin-left: auto;
    display: block;
  }
}

@media screen and (min-width: 767px) {
  .header-box__nav .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-box__nav .header-nav__list li {
  position: relative;
}

.header-box__nav .header-nav__list li span {
  color: #0A0A0A;
  font-size: 2rem;
  font-weight: 1000;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
}

.header-box__nav .header-nav__list li::after {
  position: absolute;
  bottom: 2px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  content: '';
  width: 80px;
  height: 3px;
  background: #0A0A0A;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-box__nav .header-nav__list li:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

.header-box__nav .header-nav__list li + li {
  margin-left: 40px;
}

.header-box .target {
  margin-left: auto;
}

@media screen and (min-width: 1100px) {
  .header-box .target {
    display: none;
  }
}

.header-box .target__inner {
  position: relative;
  width: 80px;
  height: 80px;
}

.header-box .target__inner__line1 {
  position: absolute;
  top: 27px;
  left: 20px;
  display: block;
  width: 44px;
  height: 2px;
  background-color: #0A0A0A;
}

@media screen and (min-width: 767px) {
  .header-box .target__inner__line1 {
    display: block;
  }
}

.header-box .target__inner__line2 {
  position: absolute;
  display: block;
  top: 40px;
  left: 20px;
  width: 44px;
  height: 2px;
  background-color: #0A0A0A;
}

.header-box .target__inner__line3 {
  position: absolute;
  display: block;
  top: 53px;
  left: 20px;
  width: 44px;
  height: 2px;
  background-color: #0A0A0A;
}

.header-box .target__inner.show {
  margin-right: 8px;
}

.header-box .target.show {
  z-index: 2000;
  position: fixed;
  top: 10px;
  right: 10px;
}

@media screen and (min-width: 767px) {
  .header-box .target.show {
    top: 35px;
    right: 35px;
    display: block;
  }
}

.header-box .target__inner__line1.show {
  -webkit-transform: translateY(13px) rotate(-30deg);
          transform: translateY(13px) rotate(-30deg);
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s, -webkit-transform .5s;
  position: relative;
  z-index: 2000;
  background-color: #FFFFFF;
}

@media screen and (min-width: 767px) {
  .header-box .target__inner__line1.show {
    -webkit-transform: translateY(0px) rotate(-30deg);
            transform: translateY(0px) rotate(-30deg);
  }
}

@media screen and (min-width: 767px) {
  .header-box .target__inner__line2.show {
    -webkit-transform: translateY(-18px) rotate(13deg);
            transform: translateY(-18px) rotate(13deg);
  }
}

.header-box .target__inner__line3.show {
  -webkit-transform: translateY(-15px) rotate(30deg);
          transform: translateY(-15px) rotate(30deg);
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s, -webkit-transform .5s;
  position: relative;
  z-index: 2000;
  background-color: #FFFFFF;
}

@media screen and (min-width: 767px) {
  .header-box .target__inner__line3.show {
    -webkit-transform: translateY(-28px) rotate(30deg);
            transform: translateY(-28px) rotate(30deg);
  }
}

.header-box .target-list.show {
  margin-bottom: calc((23/236)*100%);
}

.header .nav-right {
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.header .nav-right__group .target-list.show {
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: 1000;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
  line-height: 2.0;
}

@media screen and (min-width: 767px) {
  .header .nav-right__group .target-list.show {
    font-size: 6rem;
    line-height: 1.5;
  }
}

.header .nav-right.show {
  opacity: 1;
  visibility: visible;
  background-color: #0A0A0A;
  color: #FFFFFF;
  top: 0;
  z-index: 1000;
  -webkit-transition: opacity .5s, visibility .5s;
  transition: opacity .5s, visibility .5s;
  text-align: center;
  padding-top: 94px;
}

.main-visual {
  background-color: #F2F2F2;
  padding-bottom: 2.5rem;
}

@media screen and (min-width: 767px) {
  .main-visual {
    padding-bottom: 0;
  }
}

.main-visual .container {
  width: 100%;
}

@media screen and (min-width: 767px) {
  .main-visual .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

.main-visual .container .main-visual__img {
  background-image: url("../img/my-portfolio-top1.png");
  background-repeat: no-repeat;
  height: 100vw;
  background-size: cover;
}

@media screen and (min-width: 767px) {
  .main-visual .container .main-visual__img {
    background-image: url("../img/my-portfolio-top@2x.png");
    width: calc((1030/1280)*100vw);
    margin-left: auto;
    height: 700px;
  }
}

.main-visual .container .main-visual__txt {
  margin-top: -11.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 767px) {
  .main-visual .container .main-visual__txt {
    width: calc((360/1280)*100vw);
    margin-top: 13.3rem;
    margin-left: 7.7rem;
    position: absolute;
    top: 0;
    left: 1rem;
  }
}

.main-visual .container .main-visual__txt span:nth-child(1) {
  width: calc((155/375)*100vw);
  margin-bottom: 2rem;
}

@media screen and (min-width: 767px) {
  .main-visual .container .main-visual__txt span:nth-child(1) {
    font-size: 8rem;
    width: calc((280/1280)*100vw);
  }
}

.main-visual .container .main-visual__txt span:nth-child(1) .span-inner1 {
  width: calc((155/375)*100vw);
  background-color: white;
  color: #0A0A0A;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 767px) {
  .main-visual .container .main-visual__txt span:nth-child(1) .span-inner1 {
    font-size: 8rem;
    width: calc((280/1280)*100vw);
  }
}

.main-visual .container .main-visual__txt span:nth-child(2) {
  font-size: 5rem;
  width: calc((174/375)*100vw);
  color: #0A0A0A;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2rem;
}

@media screen and (min-width: 767px) {
  .main-visual .container .main-visual__txt span:nth-child(2) {
    font-size: 8rem;
    width: calc((310/1280)*100vw);
  }
}

.main-visual .container .main-visual__txt span:nth-child(2) .span-inner2 {
  width: calc((174/375)*100vw);
  background-color: white;
  color: #0A0A0A;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 767px) {
  .main-visual .container .main-visual__txt span:nth-child(2) .span-inner2 {
    font-size: 8rem;
    width: calc((310/1280)*100vw);
  }
}

.main-visual .container .main-visual__txt span:nth-child(3) {
  color: #0A0A0A;
  font-size: 5rem;
  width: calc((300/375)*100vw);
  color: #0A0A0A;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 767px) {
  .main-visual .container .main-visual__txt span:nth-child(3) {
    font-size: 8rem;
    width: calc((800/1280)*100vw);
  }
}

.main-visual .container .main-visual__txt span:nth-child(3) .span-inner3 {
  width: calc((300/375)*100vw);
  background-color: white;
  color: #0A0A0A;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 767px) {
  .main-visual .container .main-visual__txt span:nth-child(3) .span-inner3 {
    font-size: 8rem;
    width: calc((800/1280)*100vw);
  }
}

.concept {
  background-color: #F2F2F2;
  padding: 10rem 0 9.5rem 0;
  border-bottom: 1px bold #F2F2F2;
}

@media screen and (min-width: 767px) {
  .concept {
    padding: 9.5rem 0 23.1rem 0;
  }
}

.concept .section-ttl {
  text-align: center;
  margin-bottom: 3.8rem;
}

.concept .section-ttl h2 {
  color: #0A0A0A;
  font-size: 4rem;
  font-weight: 1000;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 767px) {
  .concept .section-ttl h2 {
    font-size: 6rem;
  }
}

@media screen and (min-width: 767px) {
  .concept .section-ttl p {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 767px) {
  .concept .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: calc((1126/1280)*100%);
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.concept .container-img {
  margin-bottom: 4rem;
  padding: 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 767px) {
  .concept .container-img {
    margin-bottom: 0;
    height: 490px;
  }
}

.concept .container-img img {
  width: 100%;
}

.concept .container-txt {
  font-size: 1.9rem;
  padding: 0 20px;
}

@media screen and (min-width: 767px) {
  .concept .container-txt {
    width: calc((544/1126)*100%);
    padding: 0;
  }
}

.concept .container-txt h3 {
  margin-bottom: 20px;
}

.concept .container-txt h3 span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #ff9494));
  background: linear-gradient(transparent 60%, #ff9494 60%);
}

.concept .container-txt p:nth-of-type(1) {
  margin-bottom: 2rem;
}

.concept .container-txt p:nth-of-type(2) {
  margin-bottom: 2rem;
}

.concept .container-txt p:nth-of-type(3) {
  margin-bottom: 2rem;
}

.aboutMe {
  padding: 10rem 0 9.5rem 0;
}

@media screen and (min-width: 767px) {
  .aboutMe {
    padding: 9.5rem 0 23.1rem 0;
  }
}

.aboutMe .section-ttl {
  text-align: center;
  margin-bottom: 3.8rem;
}

@media screen and (min-width: 767px) {
  .aboutMe .section-ttl {
    margin-bottom: 14.9rem;
  }
}

.aboutMe .section-ttl h2 {
  color: #0A0A0A;
  font-size: 4rem;
  font-weight: 1000;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 767px) {
  .aboutMe .section-ttl h2 {
    font-size: 6rem;
  }
}

@media screen and (min-width: 767px) {
  .aboutMe .section-ttl p {
    font-size: 2.4rem;
    margin-bottom: 14.9rem;
  }
}

.aboutMe .container {
  padding: 0 20px;
}

@media screen and (min-width: 767px) {
  .aboutMe .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: calc((1126/1280)*100%);
    margin: 0 auto;
    padding: 0;
  }
}

.aboutMe .container-list {
  margin-bottom: 6rem;
}

@media screen and (min-width: 767px) {
  .aboutMe .container-list {
    margin-bottom: 0;
    width: 20%;
  }
}

.aboutMe .container-list__icon {
  text-align: center;
  margin-bottom: 3rem;
}

.aboutMe .container-list__txt p:nth-child(1) {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 1.4rem;
}

.aboutMe .container-list__txt p:nth-child(2) {
  font-size: 1.6rem;
  color: #909090;
}

.aboutMe .container-list + .aboutMe .container-list {
  margin-right: 3rem;
}

.aboutMe .btn {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: #0A0A0A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /*マウスホバー時の反映を滑らかに*/
  border: 1px solid #909090;
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 1000;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
  line-height: 50px;
  padding-left: 20px;
}

.aboutMe .btn::before {
  content: "p";
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.aboutMe .btn:hover {
  color: #0A0A0A;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /*マウスアウト時の反映を滑らかに*/
  background-color: White;
  border: 1px solid #0A0A0A;
}

.works {
  padding: 10rem 0 9.5rem 0;
}

@media screen and (min-width: 767px) {
  .works {
    padding: 9.5rem 0 23.1rem 0;
  }
}

.works .section-ttl {
  text-align: center;
  margin-bottom: 3.8rem;
}

.works .section-ttl h2 {
  color: #0A0A0A;
  font-size: 4rem;
  font-weight: 1000;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 767px) {
  .works .section-ttl h2 {
    font-size: 6rem;
  }
}

@media screen and (min-width: 767px) {
  .works .section-ttl p {
    font-size: 2.4rem;
  }
}

.works .container {
  padding: 0 20px;
}

@media screen and (min-width: 767px) {
  .works .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc((1126/1280)*100%);
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
}

.works .container-works {
  margin-bottom: 8rem;
}

.works .container-works__img {
  margin-bottom: 20px;
}

.works .container-works__img .works-link {
  display: block;
  position: relative;
}

.works .container-works__img .works-link img {
  vertical-align: bottom;
  overflow: hidden;
}

.works .container-works__img .works-link img:hover {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.works .container-works__img .works-link::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.works .container-works__img .works-link:hover::before {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #0A0A0A;
  opacity: .75;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.works .container-works__img .works-link::after {
  content: "制作物をみる";
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.works .container-works__img .works-link:hover::after {
  content: "制作物をみる";
  font-size: 2rem;
  position: absolute;
  display: inline-block;
  color: #FFFFFF;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1.0;
}

@media screen and (min-width: 767px) {
  .works .container-works {
    width: calc((333/1126)*100%);
    margin: 0 auto;
    margin-bottom: 8rem;
  }
}

.works .container-works__txt p:nth-child(1) {
  margin-bottom: 10px;
  position: relative;
  color: #909090;
  font-size: 1rem;
}

.works .container-works__txt p:nth-child(1)::after {
  content: '';
  width: 20px;
  position: absolute;
  height: 1px;
  top: 17px;
  left: 0;
  background-color: #4D4D4D;
}

.works .container-works__txt p:nth-child(2) {
  margin-bottom: 10px;
  font-weight: bold;
}

.works .container-works__txt p:nth-child(3) {
  margin-bottom: 10px;
  color: #909090;
  font-size: 1.2rem;
}

.works .container-works__txt p:nth-child(4) {
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.works .container-works__txt p:nth-child(4) a {
  word-wrap: break-word;
  color: #909090;
  text-decoration: underline;
}

.contact {
  background-color: #F2F2F2;
  padding-bottom: 7rem;
  padding: 10rem 0 9.5rem 0;
}

@media screen and (min-width: 767px) {
  .contact {
    padding: 9.5rem 0 10rem 0;
  }
}

.contact .section-ttl {
  text-align: center;
  margin-bottom: 3.8rem;
}

@media screen and (min-width: 767px) {
  .contact .section-ttl {
    margin-bottom: 30px;
  }
}

.contact .section-ttl h2 {
  color: #0A0A0A;
  font-size: 4rem;
  font-weight: 1000;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 767px) {
  .contact .section-ttl h2 {
    font-size: 6rem;
  }
}

@media screen and (min-width: 767px) {
  .contact .section-ttl p {
    font-size: 2.4rem;
  }
}

.contact-icon {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-icon__twitter {
  width: 76px;
  margin: 10px;
}

.contact-icon__email {
  width: 76px;
  margin: 10px;
}

.profile {
  padding: 10rem 0 9.5rem 0;
  border-bottom: 1px bold #F2F2F2;
}

@media screen and (min-width: 767px) {
  .profile {
    padding: 9.5rem 0 23.1rem 0;
  }
}

.profile .section-ttl {
  text-align: center;
  margin-bottom: 3.8rem;
}

.profile .section-ttl h2 {
  color: #0A0A0A;
  font-size: 4rem;
  font-weight: 1000;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 767px) {
  .profile .section-ttl h2 {
    font-size: 6rem;
  }
}

@media screen and (min-width: 767px) {
  .profile .section-ttl p {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 767px) {
  .profile .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc((1126/1280)*100%);
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.profile .container-img {
  padding: 0 20px;
}

@media screen and (min-width: 767px) {
  .profile .container-img {
    width: calc((360/1126)*100%);
    margin-bottom: 0;
  }
}

.profile .container-img img {
  width: 100%;
}

.profile .container-txt {
  font-size: 1.9rem;
  padding: 0 20px;
}

@media screen and (min-width: 767px) {
  .profile .container-txt {
    width: calc((502/1126)*100%);
    padding: 0;
  }
}

.profile .container-txt .myName, .profile .container-txt .enName {
  font-size: 2.4rem;
  display: inline-block;
  margin-bottom: 20px;
}

.profile .container-txt p:nth-of-type(1) {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.profile .container-txt p:nth-of-type(2) {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.profile .container-txt p:nth-of-type(3) {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.profile .container-txt p:nth-of-type(4) {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.skills {
  background-color: #F2F2F2;
  padding: 10rem 0 9.5rem 0;
}

@media screen and (min-width: 767px) {
  .skills {
    padding: 9.5rem 0 23.1rem 0;
  }
}

.skills .section-ttl {
  text-align: center;
  margin-bottom: 3.8rem;
}

@media screen and (min-width: 767px) {
  .skills .section-ttl {
    margin-bottom: 14.9rem;
  }
}

.skills .section-ttl h2 {
  color: #0A0A0A;
  font-size: 4rem;
  font-weight: 1000;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 767px) {
  .skills .section-ttl h2 {
    font-size: 6rem;
  }
}

@media screen and (min-width: 767px) {
  .skills .section-ttl p {
    font-size: 2.4rem;
    margin-bottom: 14.9rem;
  }
}

.skills .container {
  padding: 0 20px;
}

@media screen and (min-width: 767px) {
  .skills .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: calc((1126/1280)*100%);
    margin: 0 auto;
    padding: 0;
  }
}

.skills .container-top {
  margin-bottom: 3.8rem;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .skills .container-top {
    margin-bottom: 14.9rem;
    width: calc((1126/1280)*100%);
    margin: 0 auto;
    text-align: inherit;
  }
}

.skills .container-top h3 {
  color: #0A0A0A;
  font-size: 3rem;
  font-weight: 1000;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

@media screen and (min-width: 767px) {
  .skills .container-top h3 {
    font-size: 5rem;
  }
}

@media screen and (min-width: 767px) {
  .skills .container-top p {
    font-size: 2.4rem;
    margin-bottom: 14.9rem;
  }
}

.skills .container-list {
  margin-bottom: 6rem;
}

@media screen and (min-width: 767px) {
  .skills .container-list {
    margin-bottom: 0;
    width: 38.80995%;
  }
}

.skills .container-list__icon {
  text-align: center;
  margin-bottom: 3rem;
}

@media screen and (min-width: 767px) {
  .skills .container-list__txt {
    margin-bottom: 50px;
  }
}

.skills .container-list__txt p:nth-child(1) {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 1.4rem;
}

.skills .container-list__txt p:nth-child(2) {
  font-size: 1.6rem;
  color: #909090;
}

.skills .container-list + .skills .container-list {
  margin-right: 3rem;
}

.works-list .section-ttl {
  text-align: center;
  margin-bottom: 3.8rem;
}

.works-list .section-ttl h2 {
  color: #0A0A0A;
  font-size: 4rem;
  font-weight: 1000;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 767px) {
  .works-list .section-ttl h2 {
    font-size: 6rem;
  }
}

@media screen and (min-width: 767px) {
  .works-list .section-ttl p {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 767px) {
  .works-list .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc((1126/1280)*100%);
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.works-list .container .works-group li {
  margin-bottom: 20px;
}

.works-list .container .works-group li p {
  font-size: 3rem;
  margin-bottom: 10px;
}

.works-list .container .works-group li span {
  font-size: 2rem;
  color: #909090;
}

.works-list .container .works-group li:nth-child(4) span {
  display: block;
  color: #909090;
}

.works-list .container .works-group li:nth-child(4) span a {
  color: #909090;
  text-decoration: underline;
}

@media screen and (min-width: 767px) {
  .works-list .portfolio-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc((1126/1280)*100%);
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 767px) {
  .works-list .portfolio-img .img-left {
    width: calc((525/1126)*100%);
  }
}

.works-list .portfolio-img .img-left img {
  width: 100%;
}

@media screen and (min-width: 767px) {
  .works-list .portfolio-img .img-right {
    width: calc((525/1126)*100%);
  }
}

.works-list .portfolio-img .img-right img {
  width: 100%;
}

.works-list .top-link {
  position: relative;
}

.works-list .top-link span {
  text-align: center;
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  background-color: #0A0A0A;
  position: fixed;
  bottom: 0;
  right: 50px;
  display: block;
}

.works-list .top-link span a {
  font-size: 1.5rem;
  color: #FFFFFF;
}

.footer p {
  text-align: center;
  background-color: #F2F2F2;
  color: #0A0A0A;
  font-size: 1rem;
  font-weight: 1000;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
/*# sourceMappingURL=style.css.map */